.flex_cell.av-lcaiqta2-4903120063a05e54b3adda86c114868a{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-lcaiqta2-4903120063a05e54b3adda86c114868a{
padding:0px 50px 0px 90px !important;
}

#top .av_textblock_section.av-lcageb3b-7429c6b31f072ecc3571562fbab1f458 .avia_textblock{
font-size:40px;
}

#top .hr.hr-invisible.av-lcaknst9-8e50930d7bf7d3fa602774a3739cddfb{
height:30px;
}

.avia_transform  .avia-button-wrap.av-lcaigevu-a37e5959b2705732a1fcacd07281e6b0-wrap{
-webkit-animation-duration:1s;
-moz-animation-duration:1s;
animation-duration:1s;
}
#top #wrap_all .avia-button.av-lcaigevu-a37e5959b2705732a1fcacd07281e6b0{
font-size:20px;
-webkit-border-radius:30px 30px 30px 30px;
-moz-border-radius:30px 30px 30px 30px;
border-radius:30px 30px 30px 30px;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}
#top #wrap_all.avia-button.av-lcaigevu-a37e5959b2705732a1fcacd07281e6b0:hover .avia_button_background{
-webkit-border-radius:30px 30px 30px 30px;
-moz-border-radius:30px 30px 30px 30px;
border-radius:30px 30px 30px 30px;
}

.flex_cell.av-lcaimoay-1b369507bb916be6a25ccfd044f0090a{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-lcaimoay-1b369507bb916be6a25ccfd044f0090a{
padding:0px 0px 0px 0px !important;
}

.avia-image-container.av-7npgd5-62a6b2ba85b2873f09d3c75a1c001760 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-7npgd5-62a6b2ba85b2873f09d3c75a1c001760 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-lfqwsamb-ba8e3889002f4545ab0099a2e3c4a84d{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-lfqwsamb-ba8e3889002f4545ab0099a2e3c4a84d{
padding:0px 0px 0px 0px !important;
}

.avia-image-container.av-lfqwss2l-9269b873aab2803f11e367dad0d25934 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lfqwss2l-9269b873aab2803f11e367dad0d25934 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-lfqwvzpw-c4c950a4df7cfdd350ffcfe57bda1f2f{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-lfqwvzpw-c4c950a4df7cfdd350ffcfe57bda1f2f{
padding:50px 80px 50px 80px !important;
}

.avia_transform  .avia-button-wrap.av-lfqwy6zq-a6de9a9fcf0b40d242a03a66a72c9858-wrap{
-webkit-animation-duration:1s;
-moz-animation-duration:1s;
animation-duration:1s;
}
#top #wrap_all .avia-button.av-lfqwy6zq-a6de9a9fcf0b40d242a03a66a72c9858{
font-size:20px;
-webkit-border-radius:30px 30px 30px 30px;
-moz-border-radius:30px 30px 30px 30px;
border-radius:30px 30px 30px 30px;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}
#top #wrap_all.avia-button.av-lfqwy6zq-a6de9a9fcf0b40d242a03a66a72c9858:hover .avia_button_background{
-webkit-border-radius:30px 30px 30px 30px;
-moz-border-radius:30px 30px 30px 30px;
border-radius:30px 30px 30px 30px;
}

.flex_cell.av-lcuchydt-a877ef35ae879f1129b0bbdf9c6a7bf4{
vertical-align:middle;
background-color:#ffffff;
}
.responsive #top #wrap_all .flex_cell.av-lcuchydt-a877ef35ae879f1129b0bbdf9c6a7bf4{
padding:50px 80px 50px 80px !important;
}

#top .av_textblock_section.av-lcue1df6-e62c4e9774163f37d374adcfc2663cfc .avia_textblock{
color:#67645e;
}

.flex_cell.av-lcucz9u1-c4c7da4c7f94eb9072129c00b114e146{
vertical-align:middle;
background:url(/assets/juvy-site/wp-content/uploads/2023/03/For-The-Best-Of-Skincare-Option-1.jpg) 100% 0% no-repeat scroll ;
}

#top .av_textblock_section.av-lcuchdm5-ff90950b1febac3bffc626a95dd64dca .avia_textblock{
color:#67645e;
}

.flex_cell.av-lcufffsa-0d01e5ae4903f0e0a1d093e13d1554e1{
vertical-align:middle;
background-color:#ffffff;
}
.responsive #top #wrap_all .flex_cell.av-lcufffsa-0d01e5ae4903f0e0a1d093e13d1554e1{
padding:0px 0px 0px 0px !important;
}

.avia-image-container.av-lfqr8kv9-bb36011178a64475b4f7798c1cc391f2 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lfqr8kv9-bb36011178a64475b4f7798c1cc391f2 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-lcuffa03-d02f1d5f939ea448581c282688c06355{
vertical-align:middle;
background-color:#ebeef7;
}

#top .av_textblock_section.av-lcufepn8-e0bc6af8496c414fb8cfa3a77f194ddd .avia_textblock{
color:#67645e;
}

#top .hr.av-lfqtebv4-ebb79ce9054f1ec1a169fd71633d5561{
margin-top:30px;
margin-bottom:30px;
}
.hr.av-lfqtebv4-ebb79ce9054f1ec1a169fd71633d5561 .hr-inner{
width:50px;
border-color:#dddddd;
max-width:45%;
}

#top .av_textblock_section.av-lcufdlp0-79ee17d14710e728b62c71fc3b4e0712 .avia_textblock{
color:#67645e;
}

.flex_cell.av-1oaef4-c0b5327a0f5863f3cdebb6f3075c357a{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-1oaef4-c0b5327a0f5863f3cdebb6f3075c357a{
padding:80px 80px 80px 80px !important;
}

.flex_cell.av-l3sn2t3l-91b7e7fd3b083f159b2b997a9c331512{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-l3sn2t3l-91b7e7fd3b083f159b2b997a9c331512{
padding:0px 0px 0px 0px !important;
}

.avia-image-container.av-lfqtzdvq-e8ff3c78337913e755daefe65efc86bb img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lfqtzdvq-e8ff3c78337913e755daefe65efc86bb .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-lfqrdb8b-118081ba59551e3df74209015fb51a43{
vertical-align:bottom;
background-color:rgba(217,211,213,0.26);
}
.responsive #top #wrap_all .flex_cell.av-lfqrdb8b-118081ba59551e3df74209015fb51a43{
padding:50px 80px 50px 80px !important;
}

.avia_transform  .avia-button-wrap.av-lfqrjhuj-bfb7e858043f6cf2810288f673a138a4-wrap{
-webkit-animation-duration:1s;
-moz-animation-duration:1s;
animation-duration:1s;
}
#top #wrap_all .avia-button.av-lfqrjhuj-bfb7e858043f6cf2810288f673a138a4{
font-size:20px;
-webkit-border-radius:30px 30px 30px 30px;
-moz-border-radius:30px 30px 30px 30px;
border-radius:30px 30px 30px 30px;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}
#top #wrap_all.avia-button.av-lfqrjhuj-bfb7e858043f6cf2810288f673a138a4:hover .avia_button_background{
-webkit-border-radius:30px 30px 30px 30px;
-moz-border-radius:30px 30px 30px 30px;
border-radius:30px 30px 30px 30px;
}

.flex_cell.av-lfqr88a3-bca212ba646198ecea568e36d5249333{
vertical-align:top;
}
.responsive #top #wrap_all .flex_cell.av-lfqr88a3-bca212ba646198ecea568e36d5249333{
padding:0px 0px 0px 0px !important;
}

.avia-image-container.av-lfqu6mx9-88359df8beaf764a64808ad7e318c026 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lfqu6mx9-88359df8beaf764a64808ad7e318c026 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-lfqvcdm8-c03dbe20b2e1385ca0bd3f23e86bbea2{
vertical-align:middle;
background:url(/assets/juvy-site/wp-content/uploads/2023/03/For-The-Best-of-Skincare-Option-2.png) 50% 50% no-repeat fixed ;
}
.responsive #top #wrap_all .flex_cell.av-lfqvcdm8-c03dbe20b2e1385ca0bd3f23e86bbea2{
padding:120px 120px 120px 120px !important;
}

@-webkit-keyframes av_boxShadowEffect_av-8x042h-982fc826a0964780056e605f63b9bc9f-column {
0%   { box-shadow:  0 0 0 0 rgba(0,0,0,0.3); opacity: 1; }
100% { box-shadow:  0 0 15px 0 rgba(0,0,0,0.3); opacity: 1; }
}
@keyframes av_boxShadowEffect_av-8x042h-982fc826a0964780056e605f63b9bc9f-column {
0%   { box-shadow:  0 0 0 0 rgba(0,0,0,0.3); opacity: 1; }
100% { box-shadow:  0 0 15px 0 rgba(0,0,0,0.3); opacity: 1; }
}
.flex_column.av-8x042h-982fc826a0964780056e605f63b9bc9f{
box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
padding:20px 20px 20px 20px;
background-color:#ffffff;
}

#top .av-special-heading.av-898hll-a25546eec209c8d1696339a89d184e01{
padding-bottom:10px;
}
body .av-special-heading.av-898hll-a25546eec209c8d1696339a89d184e01 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-898hll-a25546eec209c8d1696339a89d184e01 .av-subheading{
font-size:15px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
.responsive #top #wrap_all .flex_cell.av-lcaiqta2-4903120063a05e54b3adda86c114868a{
padding:20px 20px 20px 20px !important;
}

.responsive #top #wrap_all .flex_cell.av-lcaimoay-1b369507bb916be6a25ccfd044f0090a{
padding:0px 0px 0px 0px !important;
}

.responsive #top #wrap_all .flex_cell.av-lcuchydt-a877ef35ae879f1129b0bbdf9c6a7bf4{
padding:20px 20px 20px 20px !important;
}

.responsive #top #wrap_all .flex_cell.av-1oaef4-c0b5327a0f5863f3cdebb6f3075c357a{
padding:20px 20px 20px 20px !important;
}

.responsive #top #wrap_all .flex_cell.av-lfqrdb8b-118081ba59551e3df74209015fb51a43{
padding:30px 30px 30px 30px !important;
}
}

@media only screen and (max-width: 479px){ 
.responsive #top #wrap_all .flex_cell.av-lcaiqta2-4903120063a05e54b3adda86c114868a{
padding:20px 20px 20px 20px !important;
}

.responsive #top #wrap_all .flex_cell.av-lcaimoay-1b369507bb916be6a25ccfd044f0090a{
padding:0px 0px 0px 0px !important;
}

#top .av_textblock_section.av-lfs3swaf-815ec9acd8c721eabb921b148c3b3cdf .avia_textblock{
font-size:30px;
}

.responsive #top #wrap_all .flex_cell.av-lfqwsamb-ba8e3889002f4545ab0099a2e3c4a84d{
padding:20px 20px 20px 20px !important;
}

.responsive #top #wrap_all .flex_cell.av-lfqwvzpw-c4c950a4df7cfdd350ffcfe57bda1f2f{
padding:20px 20px 20px 20px !important;
}

.responsive #top #wrap_all .flex_cell.av-lcuchydt-a877ef35ae879f1129b0bbdf9c6a7bf4{
padding:20px 20px 20px 20px !important;
}

.responsive #top #wrap_all .flex_cell.av-1oaef4-c0b5327a0f5863f3cdebb6f3075c357a{
padding:20px 20px 20px 20px !important;
}

.responsive #top #wrap_all .flex_cell.av-lfqrdb8b-118081ba59551e3df74209015fb51a43{
padding:30px 30px 30px 30px !important;
}
}
